@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

.protest-revolution-regular {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.un{
    font-family: p;
    font-size: 30px;

}
.deux{
    font-family: p;
    font-size: 50px;

}